<h1 align="center">
Please fill out form completely
</h1>

<form align="center">
<label for="fname">First Name</label>
<input type="text" id="fname" name="fname">

<label for="lname">Last Name</label>
<input type="text" id="lname" name="lname">
<br><br>

<label>Pilot Email</label>
<input type="text">
<br><br>

<label>Manager</label>
<input type="text">
<br><br>

<textarea rows="5" cols="40">Enter Comments</textarea>

<br><br>
<mat-form-field>
  <mat-label>Start Date</mat-label>
  <input matInput [matDatepicker]="start" [formControl]="startDate" />
  <mat-datepicker-toggle matSuffix [for]="start"></mat-datepicker-toggle>
  <mat-datepicker #start disabled="false"></mat-datepicker>
</mat-form-field>

<mat-form-field>
  <mat-label>End Date</mat-label>
  <input matInput [matDatepicker]="end" [formControl]="endDate" />
  <mat-datepicker-toggle matSuffix [for]="end"></mat-datepicker-toggle>
  <mat-datepicker #end disabled="false"></mat-datepicker>
</mat-form-field>
<br><br>

<button>Submit</button>

</form>

<style>
  .footer {position: fixed; left:0;
  bottom:0; width: 100%; text-align:left;}
</style>

<div class="footer">
  <p>Insert Footer (Pilot Logo Maybe) Later</p>
</div>
