<h1 align="center">Paid Time Off Request </h1>
<p align="center">Please fill out form completely and then submit</p>
<form align="center">

  <mat-form-field>
    <mat-label #start diabled="false">First Name</mat-label>
    <input matInput [(ngModel)]="model" />
  </mat-form-field>

  <mat-form-field>
    <mat-label #start disabled="false">Last Name</mat-label>
    <input matInput [(ngModel)]="model" />
  </mat-form-field>

<br>
  <br>
  <mat-form-field>
          <mat-label #start disabled="false">Manager Name</mat-label>
      <input matInput [(ngModel)]="model" />
      </mat-form-field>
  <br>

 <br>
<mat-form-field>
  <mat-label #start disabled="false">Pilot Email</mat-label>
  <input matInput [(ngModel)]="model" />
</mat-form-field>
 <br>
<br>
 <mat-form-field>
  <mat-label>Start Date</mat-label>
  <input matInput [matDatepicker]="start" [formControl]="startDate" />
  <mat-datepicker-toggle matSuffix [for]="start"></mat-datepicker-toggle>
  <mat-datepicker #start disabled="false"></mat-datepicker>
 </mat-form-field>

 <mat-form-field>
  <mat-label>End Date</mat-label>
  <input matInput [matDatepicker]="end" [formControl]="endDate" />
  <mat-datepicker-toggle matSuffix [for]="end"></mat-datepicker-toggle>
  <mat-datepicker #end disabled="false"></mat-datepicker>
 </mat-form-field>
<br>

<br>
  <textarea cols="50" rows="4">Enter Comments</textarea>
<br>
<br>
  <button>Submit</button>
  <hr>
</form>


